@import "compass/css3/border-radius";

.centercontent {
    text-align: center;
}

.spacer {
    height: 40px;
}

.fullwidthcolor {
    padding: emCalc(15px);
    p {
        // $paddingval: 15px;
        margin-bottom: 0px;
        // padding-top: emCalc($paddingval);
        // padding-bottom: emCalc($paddingval);
    }
}

.primarycolor {
    background-color: $primary-color;
    color: $body-bg;
}

.secondarycolor{
    background-color: $secondary-color;
    color: $body-bg;
    h2 {
        color: $body-bg;
    }
}

.tertiarycolor{
    background-color: $tertiary-color;
    color: $body-bg;
}

input {
    @include border-radius();
    font-size: 80px;
    padding: 20px;
}

.bigformbutton {
    font-size: 1.857em;
    padding: 5em;
}

.headerimg {
    height: emCalc(450px);
    padding: emCalc(20px);
}

.button {
    font-family: $gfont;
}

.button.secondary:hover {
    background-color: white;
    color: black;
}

.button.secondary:active {
    background-color: black;
    color: white;
}

.padded {
    padding: 20px;
}

.rounded {
    @include border-radius();
}

.draggable {
    border: 10px white solid;
}

.dragarea {
    height: 600px;
}
