@font-face {
	font-family: 'IcoMoon';
	src: url('/font/icomoon.eot');
	src: url('/font/icomoon.eot?#iefix') format('embedded-opentype'),
		url('/font/icomoon.svg#IcoMoon') format('svg'),
		url('/font/icomoon.woff') format('woff'),
		url('/font/icomoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

i {
	font-size: 1.5em;
}

/* Add the following classes to your stylesheet if you want to use data attributes for inserting your icons */
.iconb:before, .icona:after {
	font-family: 'IcoMoon';
	content: attr(data-icon);
}

/* Add the following CSS properties to your stylesheet if you want to have a class per icon */
[class^="icon-"], [class*=" icon-"] {
	font-family: 'IcoMoon';
	font-style: normal;
}
.icon-github:before {
	content: "\0021";
}
.icon-google-plus:before {
	content: "\0022";
}
.icon-twitter:before {
	content: "\004b";
}
.icon-mail:before {
	content: "\0023";
}
.icon-search:before {
	content: "\0024";
}
.icon-home:before {
	content: "\0025";
}
.icon-play:before {
	content: "\0026";
}
.icon-newspaper:before {
	content: "\0027";
}
.icon-download:before {
	content: "\0028";
}
.icon-facebook:before {
	content: "\0029";
}
.icon-feed:before {
	content: "\002a";
}
.icon-github-2:before {
	content: "\002b";
}
