<ul title="alt-nav-vertical-list">
  {% if site.github_user %}
    <li><a href="http://www.github.com/{{site.github_user}}"><i class="icon-github"></i></a></li>
  {% endif %}
  {% if site.twitter_user %}
    <li><a href="http://twitter.com/{{site.twitter_user}}"><i class="icon-twitter"></i></a></li>
  {% endif %}
  <li><a href="{{ site.subscribe_rss }}" rel="subscribe-rss" title="subscribe via RSS"><i class="icon-rss"></i></a></li>
  {% if site.subscribe_email %}
    <li><a href="{{ site.subscribe_email }}" rel="subscribe-email" title="subscribe via email"><i class="icon-email"></i></a></li>
  {% endif %}
</ul>
