<hgroup>
  <a href="{{ root_url }}/">
  <span class="red_color">{{ site.title }}</span>
  <!-- <img src="/images/biopic_small.png"> -->
  {% if site.subtitle %}
    <span class="blue_color">{{ site.subtitle }}</span>
  {% endif %}
 </a>
</hgroup>

<ul class="main-navigation">
  <li><a href="{{ root_url }}">Bio</a></li>
  <li><a href="http://www.resumonk.com/users/13105-murphyspublic/resumes/9976">Resume</a></li>
  <li><a href="http://www.youtube.com/watch?v=7L3LFYmvIDk">Demo Reel</a></li>
  <li><a href="{{ root_url }}/blog/">Blog</a></li>
  <!-- <li><a href="{{ root_url }}/blog/archives">Archive</a></li> -->
</ul>
