#header-wrapper {
  text-align: left;
}

.main-navigation {
  list-style: none;
  @include horizontal-list(0);
  li {
    margin-left: 4px;
    margin-right: 4px;
  }
}

#search-wrapper {
  $search-color: $primary-color;
  text-align: center;
  form {
    height: 100%;
    fieldset {
      height: 100%;
    }
  }
  input.hidden {
    margin: 0px;
    border: 0px;
    padding: 0px;
  }
  input.search {
    color: darken($search-color, 30);
    margin: 0px; padding: 0px;
    border: 1px solid darken($search-color, 15);
    background: none;
  }
  width: 100%;
  background: $search-color;
  height: 3em;
}

.mobile-nav {
  display: none;
}

// #header-wrapper > nav {
//   form {
//     display: inline-block;
//     @include background-clip(padding-box);
//     margin: 0; padding: 0;
//     .search {
//       padding: .3em .5em 0;
//       font-size: .85em;
//       @extend .main-font;
//       line-height: 1.1em;
//       @include border-radius(.5em);
//       @include background-clip(padding-box);
//       border: 1px solid darken($main-color, 30);
//       background:none;
//       color: #888;
//       $shadow-color: transparentize(darken($main-color, 60), 0.6);
//       @include box-shadow($shadow-color 0 0 7px inset);
//       &:focus {
//         color: #444;
//         border-color: $primary-color;
//         @include box-shadow($primary-color 0 0 4px, $shadow-color 0 0 7px inset);
//         outline: none;
//       }
//     }
//   }
//   fieldset.mobile-nav{ 
//     float: left; width: 48%;
//     select{ width: 100%; font-size: .8em; border: 1px solid #888;}
//   }
//   ul { display: none; }
//   @media only screen and (min-width: 550px) {
//     font-size: .9em;
//     ul {
//       @include horizontal-list(0);
//       display: inline-block;
//     }
//     ul li {
//       margin: 0;
//     }
//     a {
//       @include link-colors($nav-color, $nav-color-hover, $visited: $nav-color);
//       @extend .main-font;
//       text-shadow: lighten($main-color, 12) 0 1px;
//       text-decoration: none;
//       font-size: 1.1em;
//     }
//     li + li {
//       margin-left: .8em;
//       a {
//         padding-left: .8em;
//       }
//     }
//     form {
//       text-align: left;
//       width: $sidebar-width-medium - $pad-medium*2 - $sidebar-pad-medium + 20px;
//       .search {
//         width: 93%;
//         font-size: .95em;
//         line-height: 1.2em;
//       }
//     }
//     ul[data-subscription$=email] + form {
//       width: $sidebar-width-medium - $pad-medium*2 - $sidebar-pad-medium - 58px;
//       .search { width: 91%; }
//     }
//     fieldset.mobile-nav { display: none; }
//     fieldset[role=search]{ width: 99%; }
//   }
//   @media only screen and (min-width: 992px) {
//     form {
//       width: $sidebar-width-wide - $pad-wide - $sidebar-pad-wide*2 + 10px;
//     }
//     ul[data-subscription$=email] + form {
//       width: $sidebar-width-wide - $pad-wide - $sidebar-pad-wide*2 - 58px;
//     }
//   }
// }
// .no-placeholder {
//   #header-wrapper > nav .search {
//     background: lighten($main-color, 15) image-url('search.png') .3em .25em no-repeat;
//     text-indent: 1.3em;
//   }
// }
