// Here you can easily change your sites's color scheme.
// To give it a try, uncomment some of the lines below rebuild your blog, and see how it works.
// If you need a handy color picker try http://hslpicker.com

$main-bg: #FFFFFF;
$blue_color: #7ABDDA;
$red_color: #AA2E2E;
$h-color: #6d6d6d;
$text-h-color: #BA3A45;

$noise-bg: image-url('noise.png') top left !default;
// $noise-bg: none;
$page-bg: $main-bg;
$header-bg: $main-bg;
$title-color: $red_color;
$subtitle-color: $blue_color;

// Main Link Colors
$link-color: $red_color;
$link-color-hover: adjust-color($link-color, $lightness: 10, $saturation: 25) !default;
$link-color-visited: $blue_color;
$link-color-active: adjust-color($link-color-hover, $lightness: -15) !default;

/* Navigation */
$nav-bg: $main-bg;
$nav-bg-front: $nav-bg;
$nav-bg-back: $nav-bg;
$nav-color: darken($nav-bg, 38) !default;
$nav-color-hover: darken($nav-color, 25) !default;
$nav-placeholder: desaturate(darken($nav-bg, 10), 15) !default;
$nav-border: darken($nav-bg, 10) !default;
$nav-border-top: lighten($nav-bg, 15) !default;
$nav-border-bottom: none;
$nav-border-left: darken($nav-bg, 11) !default;
$nav-border-right: lighten($nav-bg, 7) !default;

$sidebar-bg: darken($main-bg, 4%);
//$sidebar-link-color: saturate(#526f9a, 10);
//$sidebar-link-color-hover: darken(#7ab662, 9);
$footer-bg: $main-bg;
$footer-bg-front: none;
$footer-bg-back: none;

// From codepen.io: http://codepen.io/drewcode/pen/1
@mixin threedeetext($color) {
  color: $color; 
  text-shadow:
    0 1px 0 darken($color, 14%),
    0 2px 0 darken($color, 16%),
    0 3px 0 darken($color, 18%),
    0 4px 0 darken($color, 20%),
    0px 5px 15px rgba(0,0,0,0.1),
    0px 5px 5px rgba(0,0,0,0.3);
}

@mixin pressedtext($color) {
  color: $color; 
  text-shadow:
    0 0px 0 darken($color, 10%),
    0 1px 0 lighten($color, 56%);
}
	
/* To use the light Solarized highlighting theme uncomment the following line */
$solarized: light;

/* If you want to tweak the Solarized colors you can do that here */
//$base03:          #002b36; //darkest blue
//$base02:          #073642; //dark blue
//$base01:          #586e75; //darkest gray
//$base00:          #657b83; //dark gray
//$base0:           #839496; //medium gray
//$base1:           #93a1a1; //medium light gray
// $base2:           #eee8d5; //cream
// $base3:           #fcfcfc; //white
//$solar-yellow:    #b58900;
//$solar-orange:    #cb4b16;
//$solar-red:       #dc322f;
//$solar-magenta:   #d33682;
//$solar-violet:    #6c71c4;
//$solar-blue:      #268bd2;
//$solar-cyan:      #2aa198;
//$solar-green:     #859900;


/* Non highlighted code colors */
//$pre-bg: $base03;
//$pre-border: darken($base02, 5);
//$pre-color: $base1;

