// Here you can easily change font faces which are used in your site.
// To give it a try, uncomment some of the lines below rebuild your blog, and see how it works. your sites's.
// If you love to use Web Fonts, you also need to add some lines to source/_includes/custom/head.html
@font-face{font-family:"Quicksand";src:url("/fonts/Quicksand.otf");}
@font-face{font-family:"Cubano";src:url("/fonts/Cubano.ttf");}
$sans: "Quicksand", sans-serif;
$serif: "Quicksand", serif;
$mono: "Quicksand", monospace;
$heading-font-family: "Quicksand", sans-serif;
$header-title-font-family: "Quicksand", sans-serif;
$header-subtitle-font-family: "Quicksand", sans-serif;
