// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
html {
  background: $page-bg $noise-bg;
}
body {
  > div {
    background: $sidebar-bg $noise-bg;
    border-bottom: 1px solid $page-border-bottom;
    > div {
      background: $main-bg $noise-bg;
      border-right: 1px solid $sidebar-border;
    }
  }
}

// Changes at the top of the page.
a {
	text-decoration: none;
	text-align: center;
	.blue_color{
		color: $blue_color;
	}
	.red_color{
		color: $red_color;
	}
}

body {
  > header {
    display: none;
  }
  > nav {
    text-align: center;
    background: $nav-bg $noise-bg;
  }
  hgroup {
    font-size: 1.5em;
  }
}

.main-navigation {
  float: right;
  margin-right: 0.6em;
}

#content {
  border: none;
}

h1, h2, h3, h4, h5, h6 {
  // @include pressedtext(lighten(#68667B, 30%));
  @include pressedtext($blue_color);
  font-weight: 100;
}

h1.entry-title {
  @include pressedtext($red_color);
  font-variant: small-caps;
  font-weight: 100;
}

article header h1 a {
        &:hover { text-decoration: none; } 
}

.entry-title {
  text-align: center;
}

.homepage-image {
  float: left;
  box-shadow: none;
}

.clear {
  clear: both;
}

#blog-archives h1 {
  @include pressedtext($red_color);
  a {
    &:hover { text-decoration: none;}
  }
}

body > nav li + li {
  border-left: none;
  a {
    border-left: none;
  }
}
